/* Medium devices (tablets phones and large phones, 992px and down) */
@media only screen and (max-width: 992px){
    /*navbar media*/
    .nav_links ul, .nav_login{
        display: none;
    }

    .navbar_mobile{
        display: block;
    }

    .nav_logo img{
        max-width: 100%;
        height: auto;
    }

    .nav_links_mobile a{
        color: white;
        font-weight: 300;
    }
    .nav_links_mobile li{
        padding-bottom: 1em;
    }

    .nav_login_mobile a{
        color: white;
        font-weight: 500;
    }


    /*hero media*/
    .hero_text h1{
        font-weight: 900;
        font-size: 3em;
    }
    .hero_text a{
        width: 7.5em;
    }


    /*report media*/
    .report_card{
        width: auto;
    }


    /*footer media*/
    /*Companies media*/
    .co_footer{
        height: auto;
        padding-top: 2em;
    }
    .co_img{
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
    }

    .co img{
        max-width: 100%;
        height: auto;
    }

    /*news*/
    .form_footer{
        height: auto;
        padding-top: 2em;
    }
    .form_footer form{
        flex-direction: column;
    }

    /*links*/
    .footer_links{
        height: auto;
        padding-top: 2em;
        gap: 4em;
    }
    .main_links{
        flex-direction: column;
        gap: 1em;
    }
    .main_links img{
        max-width: 100%;
        height: auto;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (min-width: 993px){
    /*report media*/
    .report_card{
        width: auto;
    }
    /*footer media*/
    /*Companies media*/
    .co_img{
        display: grid;
        grid-template-columns: auto auto;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
    }
}