/* Medium devices (tablets phones and large phones, 992px and down) */
@media only screen and (max-width: 992px){
    /*navbar media*/
    .navbar_main ul, .nav_login{
        display: none;
    }

    .navbar_mobile, .nav_links_mobile ul{
        display: block;
    }

    .nav_logo img{
        max-width: 100%;
        height: auto;
    }

    .nav_links_mobile a{
        color: black;
        font-weight: 500;
        font-size: large;
    }
    .nav_links_mobile li{
        padding-bottom: 1em;
    }

    .nav_login_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4f29b7;
        height: 3em;
        width: 10em;
        border-radius: 10px;
    }
    .nav_login_mobile a{
        color: #57e3d8;
        font-weight: 500;
        font-size: large;
    }


    /*hero media*/
    .hero_main{
        flex-direction: column;
    }

    .hero_video video{
        width: 100%;
        height: auto;
    }

    .hero_detail{
        translate: 0 -3em;
    }

    .blue{
        background-size: 80%;
    }

    .detail_box2{
        background-size: 50%;
    }


    /*our servers media*/
    .servers_content{
        grid-template-columns: auto auto;
    }

    .servers_box{
        align-items: center;
        text-align: center;
    }


    /*report media*/
    .report_content{
        grid-template-columns: auto;
    }


    /*location media*/
    .location_box{
        flex-direction: column;
    }

    .location_content p{
        text-align: center;
    }

    .location_map iframe{
        width: 100%;
        height: auto;
    }


    /*footer media*/
    .footer_about{
        border-radius: 30px 30px 30px 30px;
        margin-left: 1em;
        margin-right: 1em;
    }

    .footer_links{
        flex-direction: column;
        text-align: center;
    }

    .footer_logo img{
        max-width: 100%;
        height: auto;
    }

    .footer_link{
        padding-top: 2em;
    }

    .footer_social{
        flex-direction: column-reverse;
        gap: 1em;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (min-width: 993px){
    /*hero media*/
    .hero_video video{
        width: 100%;
        height: 100%;
    }
}