/* Medium devices (tablets phones and large phones, 992px and down) */
@media only screen and (max-width: 992px){
    /*navbar media*/
    .nav_links ul, .nav_login{
        display: none;
    }

    .navbar_mobile{
        display: block;
    }

    .nav_logo img{
        max-width: 100%;
        height: auto;
    }

    .nav_links_mobile a{
        color: white;
        font-weight: 300;
    }
    .nav_links_mobile li{
        padding-bottom: 1em;
    }

    .nav_login_mobile a{
        color: white;
        font-weight: 500;
    }


    /*footer media*/
    /*Companies media*/
    .co_img{
        flex-direction: column;
        gap: 1em;
    }

    .apple_logo img{
        max-width: 100%;
        height: auto;
    }
    
    .meta_logo{
        max-width: 100%;
        height: auto;
    }
    
    .people_logo{
        max-width: 100%;
        height: auto;
    }
    
    .ibm_logo img{
        max-width: 100%;
        height: auto;
    }


    /*news*/
    .form_footer form{
        flex-direction: column;
    }

    /*links*/
    .main_links{
        flex-direction: column;
        gap: 1em;
    }
    .main_links img{
        max-width: 100%;
        height: auto;
    }
}